@if (Color == 'blue') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full bg-blue-500 left-right rounded-full"></div>
  </div>
} @else if (Color == 'green') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full bg-green-500 left-right rounded-full"></div>
  </div>
} @else if (Color == 'red') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full bg-red-500 left-right rounded-full"></div>
  </div>
} @else if (Color == 'yellow') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full bg-yellow-500 left-right rounded-full"></div>
  </div>
} @else if (Color == 'gray') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full bg-gray-500 left-right rounded-full"></div>
  </div>
} @else if (Color == 'theme') {
  <div class="h-0.5 w-full bg-transparent overflow-hidden rounded-full">
    <div class="progress w-full h-full dark:bg-white bg-black left-right rounded-full"></div>
  </div>
}
