**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile
**/bin
**/obj
**/.angular
**/dist
**/coverage
**/node_modules
**/*.log
