<div class="w-full dark:bg-gray-700 bg-gray-100 p-4 space-y-2 rounded">
  <h1>INTRODUCTION:</h1>
  <p>
    This a sample application that tests the implementation of AI with angular and ASP.net Web API.
    It has Document Search and Documents Bulk Insert, Images Search, Images Ai Insight, Images Bulk
    and Single Insert and Movies Bulk Insert and Search.
  </p>
  <p>
    All three modules, Documents, Images and Movies have a start Analysis button that start the
    calculation of float Embeddings.
  </p>
  <div class="p-2 m-2 rounded border border-gray-600">
    <h1 class="p-2 underline capitalize">Images:</h1>
    <p class="ml-2">There are two pages of images</p>
    <ul class="ml-8 list-disc">
      <li>Images Insertion and List</li>
      <li>Generate Images</li>
    </ul>
    <h2 class="p-2 underline capitalize">Images Insertion and List:</h2>
    <ul class="ml-8 list-disc">
      <li>List Images</li>
      <li>Show Images in slideshow</li>
      <li>Show Image Insight</li>
    </ul>
  </div>
</div>
